<footer class="p-[60px] space-y-[60px]">
    <div class="space-y-[20px]">
        {#<img alt="Logo" src="/images/logo-white.svg" class="h-[48px]"/>#}
        <p>
            &copy; Ukraine Defenders 2022
        </p>
    </div>
</footer>