<footer class="p-[60px] space-y-[60px]">
    <div class="space-y-6">
        <div class="flex flex-wrap justify-center items-end gap-8">
            <div class="flex flex-wrap justify-center md:flex-no-wrap gap-x-12 gap-y-4">
                <img src="/images/logo.svg"/>
                <img src="/images/thanks/rozdroza.png" alt="OŚRODEK ROZDROŻA" class="h-[42px]"/>
                <img src="/images/thanks/ikml.png" alt="" class="h-[42px]"/>
                <img src="/images/thanks/Davaj_Ukraine_v01_A3.png" alt="Davaj Ukraine" class="h-[42px]"/>
            </div>
        </div>
        <div class="text-center">
            <a href="/donate" class="text-blue-ua font-bold underline">Donate Today</a>
        </div>
        <p class="text-center">
            Copyright © Ukraine Defenders, 2022.<br>
            We are a non-profit registered in Texas, US with EIN #: B8-1395390
        </p>
    </div>
</footer>