<header class="bg-yellow-ua py-4 lg:py-10">
    <div class="relative app-container">
        <div class="flex flex-wrap justify-between items-end gap-8">
            <img src="/images/logo.svg"/>
            <div class="flex flex-col items-end gap-4">
                <h3 class="text-sm uppercase tracking-[0.2em]">Special Thanks to <strong>Robert Kuśmirowski</strong> and</h3>
                <div class="flex flex-wrap md:flex-no-wrap gap-x-12 gap-y-4">
                    <img src="/images/thanks/rozdroza.png" alt="OŚRODEK ROZDROŻA" class="h-[42px]"/>
                    <img src="/images/thanks/ikml.png" alt="" class="h-[42px]"/>
                    <img src="/images/thanks/Davaj_Ukraine_v01_A3.png" alt="Davaj Ukraine" class="h-[42px]"/>
                </div>
            </div>
        </div>
    </div>
</header>