<header>
    <div class="flex items-center">
        <h3>
            {{ subheading }}
        </h3>
        <svg width="178" height="2">
            <rect width="178" height="2" fill="currentColor" />
        </svg>
    </div>
    <h2>
        {{ heading }}
    </h2>
</header>