<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if env == 'production' %}
        <link rel="stylesheet" href="style.css">
    {% else %}
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <script>
            {{ tailwind()|raw }}
        </script>
        <style type="text/tailwindcss">
            {{ css()|raw }}
        </style>
    {% endif %}

    <script src="//unpkg.com/alpinejs" defer></script>

    <title>{{ title ? "#{title} — Ukraine Defenders" : 'Ukraine Defenders' }}</title>
</head>
<body class="font-sans antialiased min-h-screen">

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

<main class="{{ main_classes }}">
    {% block content %}{% endblock %}
</main>

{% include 'partials/footer.html.twig' %}
</body>
</html>