{% extends "layouts/main.html.twig" %}

{% block header %}
    <header class="relative overflow-hidden pt-[100px] bg-[#EBF2F4]">
        <img class="w-full min-h-full object-cover absolute inset-0 mix-blend-hard-light opacity-20" sizes="(max-width: 767px) 100vw, (max-width: 902px) min(100%, 870px), (max-height: 785px) min(100%, 870px), (min-aspect-ratio: 4104/2736) calc((calc(100vh - 205px)) * 1.5), calc(100vw - 32px)"
             srcset="https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 870w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80 1170w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80 1470w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80 1740w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80 1770w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80 2070w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80 2340w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80 2370w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80 2670w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80 2940w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2970&q=80 2970w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80 3270w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80 3540w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80 3570w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80 3870w, https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4104&q=80 4104w"
             src="https://images.unsplash.com/photo-1565843248736-8c41e6db117b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="girl in pink sweatshirt">
        <div class="absolute inset-0" style="background: linear-gradient(232.57deg, rgba(235, 242, 244, 0) 46.6%, #EBF2F4 86.43%);"></div>
        <div class="relative app-container">
            <div class="flex flex-wrap justify-between items-end gap-8">
                <img src="/images/logo.svg"/>
                <div class="flex flex-col items-end gap-4">
                    <h3 class="text-sm uppercase tracking-[0.2em]">Special Thanks to <strong>Robert Kuśmirowski</strong> and</h3>
                    <div class="flex flex-wrap md:flex-no-wrap gap-x-12 gap-y-4">
                        <img src="/images/thanks/rozdroza.png" alt="OŚRODEK ROZDROŻA" class="h-[42px]"/>
                        <img src="/images/thanks/ikml.png" alt="" class="h-[42px]"/>
                        <img src="/images/thanks/Davaj_Ukraine_v01_A3.png" alt="Davaj Ukraine" class="h-[42px]"/>
                    </div>
                </div>
            </div>
            <div class="py-10 md:py-20 lg:py-40 lg:px-20 flex gap-10">
                <div class="flex flex-col gap-5 pt-4">
                    <div class="h-5 w-5 bg-blue-ua"></div>
                    <div class="h-5 w-5 bg-yellow-ua"></div>
                </div>
                <div class="">
                    <p class="max-w-[762px] text-2xl md:text-4xl lg:text-[64px] font-bold leading-tight md:leading-tight">
                        “.. to protect the child from all forms of physical or mental violence ..”
                    </p>
                    <p class="md:text-2xl italic font-medium p-6">
                        - Convention on the Rights of the Child (1989)
                    </p>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <section class="bg-yellow-ua">
        <div class="app-container flex flex-col sm:flex-row justify-between gap-6 md:gap-12 py-4 md:py-12">
            <div>
                <h3 class="text-xl md:text-2xl font-bold">
                    Please help us to help Ukraine and Ukrainians.
                </h3>
                <p class="text-lg font-medium">
                    Donations will be used to rebuild the playground, buy emergency medical kits, food rations and other
                    life-saving equipment.
                </p>
            </div>
            <a href="/donate" class="bg-blue-ua py-4 px-9 rounded-[10px] text-lg md:text-2xl text-white font-bold shrink-0 h-max w-max">
                Donate Today!
            </a>
        </div>
    </section>

    <section class="relative overflow-hidden py-8 md:py-16 lg:py-[120px] bg-yellow-ua">
        <img class="lg:w-full min-h-full object-cover absolute inset-0 mix-blend-multiply"
             src="/images/slide.png" alt="slide">
        <div class="relative app-container flex flex-col gap-8 md:gap-16 lg:gap-[120px] text-white">
            <div class="flex items-center gap-6">
                <h3 class="text-sm uppercase tracking-[0.2em]">
                    The Slide
                </h3>
                <svg width="178" height="2">
                    <rect width="178" height="2" fill="currentColor" />
                </svg>
            </div>
            <h2 class="text-5xl font-bold leading-tight max-w-[560px]">
                An object of the current war experience in Ukraine
            </h2>
            <div class="text-2xl font-medium max-w-[984px] space-y-6">
                <p>
                    This is an object from the current war experience of Ukrainians. The slide is from a playground in
                    Irpin, just outside of Kyiv, and was shelled by the Russian invaders as they tried to advance toward
                    the capital city.
                </p>
                <p>
                    The project aims to draw attention to the current situation of Ukraine, plagued by a genocidal war.
                </p>
            </div>
            <div></div>
        </div>
    </section>

    <section class="relative overflow-hidden py-8 md:py-16 lg:py-[120px] bg-blue-ua text-white">
        <img class="lg:w-full min-h-full object-cover absolute inset-0 mix-blend-multiply"
             src="/images/slide2.png" alt="slide">
        <div class="relative app-container flex flex-col gap-8 md:gap-16">
            <div class="flex items-center gap-6">
                <h3 class="text-sm uppercase tracking-[0.2em]">
                    What Happened
                </h3>
                <svg width="178" height="2">
                    <rect width="178" height="2" fill="currentColor" />
                </svg>
            </div>
            <h2 class="text-5xl font-bold leading-tight max-w-[560px]">
                The Story
            </h2>
            <div class="text-2xl font-medium space-y-6 lg:space-y-10">
                <p class="max-w-[984px]">
                    Video interviews with residents in Irpin, where the slide was located.
                </p>

                <div class="lg:px-20 grid grid-cols-2 gap-8" x-data="{}">
                    {% for video in videos %}
                        <button
                                type="button"
                                class="aspect-video w-full bg-center max-w-[450px] bg-cover"
                                style="background-image:url('https://img.youtube.com/vi/{{ video.id }}/hqdefault.jpg')"
                                @click.prevent="$dispatch('open-video', '{{ video.id }}')"
                        >
                            <span class="sr-only">Watch Video: {{ video.title }}</span>
                        </button>
                    {% endfor %}
                </div>
            </div>
            <div></div>
        </div>
    </section>

    <section class="relative overflow-hidden py-8 md:py-16 lg:py-[120px] bg-[#450808]">
        <img class="w-full min-h-full object-cover absolute inset-0 mix-blend-multiply"
             src="/images/car.png" alt="slide">
        <div class="relative app-container flex flex-col gap-8 md:gap-16 lg:gap-[120px] text-white">
            <div class="flex items-center gap-6">
                <h3 class="text-sm uppercase tracking-[0.2em]">
                    What Happened
                </h3>
                <svg width="178" height="2">
                    <rect width="178" height="2" fill="currentColor" />
                </svg>
            </div>
            <h2 class="text-5xl font-bold leading-tight max-w-[560px]">
                This is not an isolated incident in one town...
            </h2>
            <div class="text-2xl font-medium max-w-[984px] space-y-6">
                <p>
                    Russia has committed many war crimes all over Ukraine:
                </p>
                <p>
                    the use of cluster munitions on civilian targets; killings, torture and sexual violence against
                    civilian adults and children; targeting civilian infrastructure such as schools and playgrounds;
                    attacking cultural sites and medical care facilities.
                </p>
                <p>
                    This is an effort to wipe out what it means to be Ukrainian. It is genocide.
                </p>
            </div>
            <div></div>
        </div>
    </section>

    <section class="bg-yellow-ua">
        <div class="app-container flex justify-center gap-6 md:gap-12 py-4 md:py-12">
            <p class="text-xl md:text-2xl lg:text-5xl font-bold">
                And did you know&hellip;
            </p>
        </div>
    </section>

    <section class="relative overflow-hidden py-8 md:py-16 lg:py-[120px] bg-blue-ua">
        <img class="w-full min-h-full object-cover absolute inset-0 mix-blend-multiply"
             src="/images/windshield.png" alt="ruined windshield">
        <div class="relative app-container flex flex-col gap-8 md:gap-16 lg:gap-[120px] text-white">
            <div class="flex items-center gap-6">
                <h3 class="text-sm uppercase tracking-[0.2em]">
                    Genocide in Mariupol
                </h3>
                <svg width="178" height="2">
                    <rect width="178" height="2" fill="currentColor" />
                </svg>
            </div>
            <h2 class="text-5xl font-bold leading-tight max-w-[560px]">
                87,000 registered deaths in Mariupol
            </h2>
            <div class="text-2xl font-medium max-w-[984px] space-y-6">
                <p>
                    As of mid-August 2022, the Illichivskyi morgue in Mariupol has documented 87,000 dead people. Up to
                    26,750 are yet to be identified.
                </p>
                <p>
                    Unfortunately, this number is from only one morgue and so the total deaths will probably rise in
                    excess of 100,000 in Mariupol alone.
                </p>
            </div>
            <div></div>
        </div>
    </section>

    <section class="relative overflow-hidden py-8 md:py-16 lg:py-[120px] bg-yellow-ua">
        <img class="lg:w-full min-h-full object-cover absolute inset-0 mix-blend-multiply"
             src="/images/girl.png" alt="girl with slide">
        <div class="relative app-container flex flex-col gap-8 md:gap-16 lg:gap-[120px] text-white">
            <div class="flex items-center gap-6">
                <h3 class="text-sm uppercase tracking-[0.2em]">
                    Known Violence against Children
                </h3>
                <svg width="178" height="2">
                    <rect width="178" height="2" fill="currentColor" />
                </svg>
            </div>
            <h2 class="text-5xl font-bold leading-tight max-w-[560px]">
                As of August 10th, 2022, at least 942 children have been killed or injured
            </h2>
            <div class="text-2xl font-medium max-w-[984px] space-y-6">
                <p>
                    The UN has stated that the total number of casualties is likely to be much higher than those
                    verified.
                </p>
            </div>
            <div></div>
        </div>
    </section>

    <div x-data="{ open: false, id: null, close() {this.open = false; this.id = null} }" class="flex justify-center" @open-video.window="id = $event.detail; open = true">
        <template x-teleport="body">
            <!-- Modal -->
            <div
                    x-show="open"
                    style="display: none"
                    x-on:keydown.escape.prevent.stop="close()"
                    role="dialog"
                    aria-modal="true"
                    x-id="['modal-title']"
                    {#x-teleport="body"#}
                    :aria-labelledby="$id('modal-title')"
                    class="fixed inset-0 z-10 overflow-y-auto"
            >
                <!-- Overlay -->
                <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-70"></div>

                <!-- Panel -->
                <div
                        x-show="open" x-transition
                        x-on:click="close()"
                        class="relative flex min-h-screen items-center justify-center p-4"
                >
                    <div
                            x-on:click.stop
                            x-trap.noscroll.inert="open"
                            class="relative w-full max-w-2xl overflow-y-auto rounded-xl bg-black p-4 lg:p-8 shadow-lg"
                    >
                        <div class="relative pt-[56.25%] h-0 overflow-hidden">
                            <iframe :src="'https://www.youtube.com/embed/'+id+'?autoplay=1'"
                                    class="absolute inset-0 w-full h-full"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
{% endblock %}
