{% extends "layouts/main.html.twig" %}
{% set prices = [75, 125, 175] %}
{% block content %}
    <section class="relative overflow-hidden py-8 md:py-16 lg:py-[120px] bg-blue-ua text-white">
        <img class="lg:w-full min-h-full object-cover absolute inset-0 mix-blend-multiply"
             src="/images/slide.png" alt="slide">
        <div class="relative app-container flex flex-col gap-8 md:gap-16">
            <div class="flex items-center gap-6">
                <h3 class="text-sm uppercase tracking-[0.2em]">
                    Donate to Ukraine Defenders
                </h3>
                <svg width="178" height="2">
                    <rect width="178" height="2" fill="currentColor" />
                </svg>
            </div>
            <h2 class="text-5xl font-bold leading-tight max-w-[560px]">
                Thank You!
            </h2>
            <div class=" space-y-6 lg:space-y-12">
                <p class="text-2xl font-medium max-w-[720px]">
                    Thank you for joining with us financially. Your contribution is greatly appreciated and will be
                    returning smiles to children's faces soon.
                </p>
                <p class="text-2xl font-medium max-w-[720px]">
                    Every donation helps us purchase more humanitarian aid and to help rebuild more playgrounds in
                    Ukraine.
                </p>
            </div>
            <div></div>
        </div>
    </section>


{% endblock %}
